// vars
$font-family:'Red Hat Display',
sans-serif;
$font-medium : 500;
$font-bold: 700;
$font-black:900;
$font-size: 16px;
//colors
$paleBlue: #e0e8ff;
$brightBlue: #3829e0;
$verypaleBlue: #f5f7ff;
$desaturatedBlue: #7280a7;
$darkBlue: #1f2f56;
$anchorBlue: #3e52a3;
// images
$imgDesktop: "../images/pattern-background-desktop.svg";
$imgMobile: "../images/pattern-background-mobile.svg";
//
$borderRadius: 7px;
$maxWidth: 300px;

html, body {
    height: 100%;
}

body {
    font-family: $font-family;
    font-weight: $font-medium;
    box-sizing: content-box;
    // width: 100%;
    background-color: $paleBlue;
    background-image: url($imgDesktop);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    color: $desaturatedBlue;
    overflow: hidden;

    @media (max-width: 768px) {
        background-image: url($imgMobile);
    }

    a {
        color: $anchorBlue;
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
}

main {
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    margin: 1rem;
    -webkit-box-shadow: 0px 10px 22px -7px rgba($darkBlue, 0.20);
    -moz-box-shadow: 0px 10px 22px -7px rgba($darkBlue, 0.20);
    box-shadow: 0px 10px 22px -7px rgba($darkBlue, 0.20);

    @media (min-width: 768px) {
        max-width: $maxWidth;
    }

    article {
        header {
            img {
                width: 100%;
            }
        }
        .p{
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .textCard {
            padding: 1rem;

            h2 {
                text-align: center;
                color: $darkBlue;
                font-weight: $font-black;
            }

            p {
                text-align: center;
                line-height: 19px;
                font-size: 0.8rem;
            }
        }

        .callToAction {
            margin: 0 1rem;
            padding: 1rem;
            background-color: $verypaleBlue;
            border-radius: $borderRadius;
            display: flex;
            justify-content: space-between;
            align-items: center;  

            div{
                flex-grow: 3;   
                line-height: 10px;             
            }          

            h5 {
                color: $darkBlue;
                margin-bottom: 0.3em;
                margin-top: 0;
            }

            span{
                font-size: 12px;
                color: $desaturatedBlue;
            }

            img {
                margin-right: $font-size;
                width: 34px;
                flex-basis: 1;
            }

            a {
                color: $brightBlue;
                font-size: 11px;
                font-weight: 900;
                flex-basis: 1;
                &:link, &:visited{
                color: $brightBlue;

                }
                &:hover{
                    color: rgba($desaturatedBlue ,0.7);
                    text-decoration: none;
                }
            }
            

        }

        .buttons {
            padding: 1rem;
            margin-bottom: 0.9rem;
            margin-top: 0.9rem;
            text-align: center;

            button {
                border-radius: $borderRadius;
                background-color: $brightBlue;
                width: 100%;
                border: none;
                color: $paleBlue;
                font-weight: $font-bold;
                font-size: 14px;
                padding: 0.6rem;
                text-align: center;
                margin-bottom: .6rem;
                -webkit-box-shadow: 0px 6px 21px -7px rgba($anchorBlue,1);
                -moz-box-shadow: 0px 6px 21px -7px rgba($anchorBlue,1);
                box-shadow: 0px 6px 21px -7px rgba($anchorBlue,1);
                cursor: pointer;
                transition:all ease-in-out 0.2s;

                &:hover{
                    background-color: rgba($brightBlue, 0.5);
                }
            }

            a {
                text-decoration: none;
                width: 100%;
                font-weight: $font-black;
                font-size: 11px;
                color: rgba($desaturatedBlue, 0.7);

                &:hover{
                    color: $darkBlue;
                }
            }
        }
    }

}